body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#1c8dff, #85eaef);
  font-family: sans-serif; }

#pipeFlower {
  top: 385px;
  left: 1075px; }

#ground {
  height: 128px;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background: url("imgs/groundTile.jpg") repeat-x;
  background-size: 128px; }

#movingFlower {
  height: 150px;
  width: 80px;
  position: relative;
  top: 265px;
  left: 1112px;
  background: url("imgs/flower_1.png") no-repeat;
  background-size: 125px;
  background-size: 80px 150px;
  animation-name: movingFlower, movingFlowerBite;
  animation-duration: 3s, .30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease; }

#blocks {
  display: flex;
  justify-content: center;
  height: 75px;
  width: 450px;
  position: fixed;
  top: 370px;
  left: 135px;
  animation-name: movingCloud;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease; }

#c2 {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 75px;
  left: 400px;
  background-size: 200px;
  animation-duration: 9s; }

#c3 {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 80px;
  left: 755px;
  background: url("imgs/cloudTile.png") no-repeat;
  background-size: 300px; }

#brick {
  background: url("imgs/brickBlockTile.png") no-repeat;
  background-size: contain; }

.brick {
  height: 75px;
  width: 75px;
  padding: 0;
  margin: 0;
  background: url("imgs/brickBlockTile.png") no-repeat;
  background-size: contain; }

.question {
  height: 75px;
  width: 75px;
  padding: 0;
  margin: 0;
  background: url("imgs/brickBlockTile.png") no-repeat;
  background-size: contain;
  animation-name: questionBlock;
  animation-play-state: paused;
  animation-duration: 1ms; }
  .question:hover {
    animation-play-state: running; }

.cloud {
  height: 125px;
  width: 125px;
  position: absolute;
  top: 45px;
  left: 150px;
  background: url("imgs/cloudTile.png") no-repeat;
  background-size: 125px;
  animation-name: movingCloud;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease; }

.pipe {
  height: 325px;
  width: 150px;
  position: fixed;
  top: 450px;
  left: 775px;
  background: url("imgs/pipeTile.png") no-repeat;
  background-size: 150px 325px; }

@keyframes questionBlock {
  0% {
    background: url("imgs/questionBlockTile.png") no-repeat;
    background-size: contain; } }

@keyframes movingCloud {
  0% {
    transform: translatex(0px); }
  50% {
    transform: translateX(150px); }
  100% {
    transform: translateX(0px); } }

@keyframes movingFlower {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(150px); }
  100% {
    transform: translateY(0px); } }

@keyframes movingFlowerBite {
  0% {
    background: url("imgs/flower_2.png") no-repeat;
    background-size: contain; }
  50% {
    background: url("imgs/flower_1.png") no-repeat;
    background-size: contain; }
  100% {
    background: url("imgs/flower_2.png") no-repeat;
    background-size: contain; } }
